/* css */
.wrap{
  background: #111;
  color:#fff;
  font-size: 2rem;
  font-weight: 400;
  border:1rem solid #00D67A;
}
html{
  font-family: 'Gmarket Sans';
  font-size: 10px;
}
.innerframe-1700{
  max-width: 170rem;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.inner-ty1 {
  display: flex;
  margin: 0 auto;
  max-width: 170rem;
  width: 100%;
  height: 100%;
}
.tit01 {
  margin-bottom: 3rem;
  font-size: 5rem;
  font-weight: 500;
}
.btn-line-white {
  max-width: 23rem;
  width: 100%;
  padding: 1.6rem 3.1rem;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 1.7rem;
  letter-spacing: -0.02em;
  text-align: left;
  color:#fff;
  border: 0.1rem solid #FFFFFF;
  border-radius: 1rem;
}
.left-box {
  width: 60rem;
  border-right: 0.1rem solid #777777;
}
.right-box {
  padding-left: 10rem;
  width: calc(100% - 60rem);
}
.contact-wrap {
  display: flex;
  margin: 13.6rem 0;
  width: 100%;
  height: auto;
}
.contact-list {
  margin-top: 4rem;
}
.contact-list > li {
  display: flex;
}
.contact-list > li .c-tit {
  margin-right: 0.8rem;
  font-weight: 500;
  font-size: 2.3rem;
}
.request-tit {
  margin-bottom: 6rem;
}
.request-tit > span {
  font-weight: 500;
}
.request-tit > p {
  margin-top: 1.5rem;
  font-size: 2.4rem;
}
.request-tit .required {
  display: inline-block;
  vertical-align: top;
  width: 1.45rem;
  height: 1.4rem;
  color: #00D67A;
}
.client-info {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10rem;
  width: 100%;
}
.client-info > li {
  margin-top: 3rem;
  width: calc(100% / 2 - 2.8rem);
}
.client-info > li:nth-child(-n + 2) {
  margin-top: 0;
}
.client-info > li:nth-child(5) {
  width: 100%;
}
.client-info > li:nth-child(2n) {
  margin-left: 5.6rem;
}
.client-info input {
  padding: 2.4rem 1.4rem;
  width: 100%;
  font-weight: 300;
  font-size: 2rem;
  transform:rotate(-0.03deg);
  color: #FFFFFF;
  background: transparent;
  border-width: 0 0 1px 0;
  border-bottom-color: #FFFFFF;
}
.client-info input::placeholder {
  color: #FFFFFF;
}