/* css */
body {
  cursor: url(../images/ico-pointer.png), auto !important;
}
.wrap{
  color:#fff;
  font-size: 2rem;
  font-weight: 400;
  line-height: 3rem;
  border:1rem solid #00D67A;
  background: #111;
}
button,a{
  cursor: url(../images/ico-pointer.png), auto !important;
}
::selection{
  background: #00D67A;
}
html{
  font-family: 'Gmarket Sans';
  font-size: 10px;
}
/*마우스 커서  */
/* #deco-pointer{
  position: absolute;
  width: 3.5rem;
  height: 3.5rem;
  left: 0;
  top: 0;
  border: none;
  background: url(../images/ico-pointer.png) no-repeat 0 0 /contain;
  z-index: 101;
} */
.m-only {
  display: none;
}
.innerframe-1700{
  max-width: 170rem;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.inner-ty1 {
  display: flex;
  margin: 0 auto;
  max-width: 190rem;
  width: 100%;
  height: 100%;
}
.inner-ty2  {
  padding: 13.6rem 0;
  width: 100%;
  height: 100%;
  border-top: 1px solid #777;
}
.tab-list {
  display: flex;
  margin: 9rem 0 3rem 0;
}
.tab-list > li {
  border: 1px solid #fff;
  border-radius: 1rem;
}
.tab-list > li > a {
  display: block;
  padding: 1.5rem 3rem;
}
.tab-list > li.active {
  font-weight: 500;
  color: #000;
  border: none;
  background: #00D67A;
}
.tab-list > li + li {
  margin-left: 2rem;
}
.fw-300 {
  font-weight: 300 !important;
}
.fw-500 {
  font-weight: 500 !important;
}
.fw-700 {
  font-weight: 700 !important;
}
.mt-50 {
  margin-top: 5rem !important;
}
.mt-60 {
  margin-top: 6rem !important;
}
.mb-110 {
  margin-bottom: 11rem !important;
}
.tit01 {
  margin-bottom: 3rem;
  font-size: 5rem;
  font-weight: 500;
  line-height: 6rem;
}
.project-type + .tit02  {
  margin-top: 6rem;
}
.sub-tit {
  display: block;
  margin-bottom: 2rem;
  font-size: 2.5rem;
}
.tit-desc {
  line-height: 3rem;
}
.btn-line-white {
  max-width: 23rem;
  width: 100%;
  padding: 1.6rem 3.1rem;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 1.7rem;
  letter-spacing: -0.02em;
  text-align: left;
  color:#fff;
  border: 0.1rem solid #FFFFFF;
  border-radius: 1rem;
  background: url(../images/ico-right.png) no-repeat right 3rem center / 3.4rem 0.8rem;
  transition: all 0.3s ease-in-out;
}
.btn-line-white:hover{
  color:#00D67A;
  border-color: #00D67A;
  filter: invert(50%) sepia(93%) saturate(1015%) hue-rotate(113deg) brightness(101%) contrast(102%);
}
.left-box {    
  padding: 13.6rem 10rem;
  width: 70rem;
  border-right: 0.1rem solid #777777;
}
.right-box {
  padding: 13.6rem 10rem;
  width: calc(100% - 70rem);
}

/* contact us */
.contact-list {
  margin-top: 4rem;
}
.contact-list > li {
  display: flex;
}
.contact-list > li + li {
  margin-top: 0.8rem;
}
.contact-list > li .c-tit {
  margin-right: 0.8rem;
  font-weight: 500;
  font-size: 2.3rem;
}
.request-tit {
  margin-bottom: 6rem;
}
.request-tit > span {
  font-weight: 500;
}
.request-tit > p {
  margin-top: 1.5rem;
  font-size: 2.4rem;
  line-height: 3rem;
}
.request-tit .required {
  display: inline-block;
  vertical-align: top;
  width: 1.45rem;
  height: 1.4rem;
  color: #00D67A;
}
.project-tit {
  margin-top: 6rem;
}
.client-info {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10rem;
  width: 100%;
}
.client-info > li {
  margin-top: 3rem;
  width: calc(100% / 2 - 2.8rem);
}
.client-info > li:nth-child(-n + 2) {
  margin-top: 0;
}
.client-info > li:nth-child(5) {
  width: 100%;
}
.client-info > li:nth-child(2n) {
  margin-left: 5.6rem;
}
.client-info input {
  padding: 2.4rem 1.4rem;
  width: 100%;
  font-weight: 300;
  font-size: 2rem;
  transform:rotate(-0.03deg);
  color: #FFFFFF;
  background: transparent;
  border-width: 0 0 1px 0;
  border-bottom-color: #FFFFFF;
}
.client-info input::placeholder {
  font-family: "Gmarket sans";
  color: #FFFFFF;
}
.project-type + .request-tit  {
  margin-top: 11rem;
}
.project-type {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
}
.project-type > li > input[type="checkbox"] + label {
  display: inline-block;
  padding: 1.5rem 2.8rem;
  color: #fff;
  letter-spacing: -0.02em;
  border:1px solid #fff;
  border-radius: 1rem;
  cursor: pointer;
}
.project-type > li > input[type=checkbox] {
  display: none;
}
.project-type > li > input[type=checkbox]:checked + label {
  font-weight: 500;
  color: #000;
  background: #fff;
  border-radius: 1rem;
}
.project-info {
  display: flex;
}
.project-info > div {
  width: calc(100% / 2);
}
.project-info > div + div {
  margin-left: 5.6rem;
}
.project-info .selectbox {
  position: relative;
  width: 100%;
  font-size: 2rem;
  color: #FFFFFF;
  transform:rotate(-0.03deg);
}
.project-info .selectbox .selected {
  padding: 2.4rem 5rem 2.4rem 1.4rem;
  font-weight: 300;
  border-bottom: 0.1rem solid #fff;
  background: url(../images/ico-select-arrow.png) no-repeat right 1.5rem center / 1.8rem 1rem;
}
.project-info .selectbox > ul {
  display: none;
  position: absolute;
  padding: 1rem 1.4rem;
  width: 100%;
  border-width: 0 0.1rem 0.1rem 0.1rem;
  border-style: solid;
  border-color: #fff;
  background: #111;
  z-index: 10;
}
.project-info .selectbox .option {
  padding: 0.85rem 0;
  font-size: 1.6rem;
}
.desc-ex {
  margin-left: 1.5rem;
  width: 100%;
  color: #777;
  border-bottom: 0.1rem solid #777;
}
/* .desc-ex::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 0.1rem;
  background: #777;
} */
.project-txt {
  margin-top: 2.5rem;
  padding: 2.3rem;
  width: 100%;
  height: 40rem;
  font-size: 2rem;
  color: #fff;
  background: transparent;
  border: 1px solid #FFFFFF;
  appearance: none;
  resize: none;
}
.project-txt::placeholder {
  font-family: "Gmarket Sans";
  color: #777;
}
.file-area {
  display: flex;
  align-items: center;
  margin-top: 3rem;
}
.file-area .file-add {
  padding: 1.5rem 0;
  min-width: 18rem;
  font-weight: 500;
  color: #000;
  text-align: center;
  background: #fff;
  border-radius: 1rem;
  cursor: pointer;
}
.file-area .file-add + input {
  display: none;
}
.file-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 1.5rem;
  padding-bottom: 0.8rem;
  width: 100%;
  border-bottom: 0.1rem solid #fff;
}
.file-list > li {
  display: flex;    
  align-items: center;
  gap: 1.5rem;
  position: relative;
  padding: 1.2rem 4.5rem 1.2rem 1.5rem;
  border: 0.1rem solid #fff;
  border-radius: 1rem;
}
.file-list .file-name {
  font-size: 1.6rem;
}
.file-list .file-delete {
  position: absolute;
  right: 1.5rem;
}
.file-list .file-delete img {
  margin-top: 0.1rem;
  width: 1.5rem;
  height: 1.5rem;
}
.file-desc {
  margin: 1.5rem 0 0 0;
  padding-left: 2rem;
  font-size: 1.6rem;
  background: url(../images/ico-file-desc.png) no-repeat left top / 1.46rem 1.41rem;
}
.btn-area {
  display: flex;
  justify-content: flex-end;
  margin-top: 10.8rem;
}
.btn-send {
  position: relative;
  padding-right: 23rem;
  font-size: 6rem;
  font-weight: 500;
  color: #fff;
  background: url(../images/btn-send.png) no-repeat right 5rem center;
  background-size: 15rem 2.5rem;
  transition: all 0.3s ease-in-out;
}
.btn-send:hover {
  background: url(../images/btn-send.png) no-repeat right center;
  background-size: 15rem 2.5rem;
  filter: invert(50%) sepia(93%) saturate(1015%) hue-rotate(113deg) brightness(101%) contrast(102%);
}
.location {
  margin: 0 auto;    
  padding: 0 10rem;
  max-width: 190rem;
}
.location > address {
  margin-bottom: 3rem;
}

/* about */
.business {
  margin-bottom: 10rem;
}
.business > li {
  padding: 2.4rem 1.3rem;
  border-bottom: 1px solid #fff;
}
.history > li {
  display: flex;
  align-items: center;
}
.history > li > span {
  margin-top: 0.5rem;
  font-size: 7rem;
}
.history > li > p {
  margin-left: 3.4rem;
  padding: 2.4rem 1.1rem;
  width: 100%;
  border-bottom: 1px solid #FFFFFF;
}
.portfolio {
  margin: 0 auto;
  padding: 13.6rem 0;
  max-width: 170rem;
}
.work-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3.3rem;
}
.work-list > li {
  display: flex;
  margin-top: 9rem;
  width: calc(100% / 4 - 3.3rem);
}
.work-list > li:nth-child(-n + 4) {
  margin-top: 0;
}
.work-list > li > a > img {
  filter: grayscale(100%);
  transition: all 0.5s ease-in-out;
}
.work-list > li > a:hover > img {
  filter: grayscale(0);
}
.work-list > li > a > .btn-more {
  display: inline-block;
  position: relative;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #fff;
}
.work-list > li > a > .btn-more::after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  height: 0.1rem;
  width: 0;
  transition: all 0.5s ease-in-out;
}
.work-list > li > a:hover > .btn-more::after {
  width: 100%;
  background: #00D67A;
}
.work-list .work-name {
  margin: 3rem 0 1.8rem;
  font-weight: 500;
  font-size: 3rem;
}
.work-page {
  margin: 0 auto 10rem;
  max-width: 170rem;
  border-width: 0 0.1rem 0.1rem 0.1rem;
  border-style: solid ;
  border-color: #777;
}
.work-page .top-area {
  display: flex;
}
.work-page .top-area > div {
  padding: 8.5rem 7.5rem;
  width: calc(100% / 2);
}
.work-page .top-area .left {
  border-right: 0.1rem solid #777;
}
.work-page .top-area .work-info {
  display: flex;
}
.work-page .top-area .work-info > li {
  width: calc(100% / 3);
  text-align: left;
}
.work-page .top-area .work-tit {
  font-size: 2.5rem;
}
.work-page .top-area .work-info > li > p {
  margin-top: 2rem;
  font-size: 2rem;
}
.work-page .top-area .work-cont {
  margin-top: 8rem;
}
.work-page .top-area .work-cont > p {
  margin-top: 2rem;
  line-height: 3rem;
}
.work-page .work-img {
  position: relative;
  padding: 7rem 12.5rem;
  border-top: 0.1rem solid #777;
  z-index: 1;
}
.work-img.pc::after {
  content: "";
  display: block;
  position: absolute;
  top: 7rem;
  left: 12.5rem;
  right: 12.5rem;
  height: 85.7rem;
  border: 0.1rem solid #fff;
  border-radius: 1.5rem;
  z-index: -1;
}
.work-img.pc .img-box {
  margin: 2.5rem  2.5rem 0 2.5rem;
  max-width: 140rem;
}
.work-img.mobile .img-box{
  margin: 0 auto;
  max-width: 132.5rem;
}
.work-img.sub .img-box{
  margin: 0 auto;
  max-width: 140rem;
}
.work-img .img-box img {
  width: 100%;
}

@media (max-width:1400px) {
  .inner-ty1 {
    flex-direction: column;
  }
  .left-box {
    border-right: none;
    border-bottom: 0.1rem solid #777;
  }
  .left-box, .right-box {
    width: 100%;
  }
  .project-tit {
    display: flex;
    flex-direction: column;
  }
  .desc-ex {
    margin-left: 0;
    width: fit-content;
  }
}

@media (max-width:768px) {
  .inner-ty2 {
    padding: 6rem 0;
  }
  .location {
    padding: 0 2rem;
  }
  .m-only {
    display: block;
  }
  .tit01 {
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
  .tit02 {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
  .left-box, .right-box {
    padding: 6rem 2rem;
  }
  .left-box {
    font-size: 1.4rem;
    line-height: 2.2rem;
  }
  .project-type {
    gap: 1.5rem;
  }
  .project-type + .tit02  {
    margin-top: 3.5rem;
  }
  .project-type + .request-tit  {
    margin-top: 6rem;
  }
  .contact-list > li {
    margin-top: 0;
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
  .contact-list > li + li {
    margin-top: 0;
  }
  .contact-list > li .c-tit {
    font-size: 1.5rem;
  }
  .request-tit .required {
    width: 1rem;
    height: 1rem;
  }
  .request-tit {
    margin-bottom: 3rem;
  }
  .request-tit > p {
    font-size: 1.5rem;
    line-height: 2.4rem;
  }
  .project-tit {
    margin-top: 4.4rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
  .project-txt {
    margin-top: 1.5rem;    
    padding: 2.3rem 1.5rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
  .desc-ex {
    margin-top: 1rem;
  }
  .btn-area {
    justify-content: flex-start;
    margin-top: 6rem;
  }
  .btn-send {
    font-size: 5rem;
    line-height: 5rem;
  }
  .project-type {
    margin-top: 1.5rem;
  }
  .project-type > li > input[type="checkbox"] + label {
    padding: 1.2rem 1.6rem;
    font-size: 1.6rem;
    line-height: 1.5rem;
  }
  .project-info {
    flex-direction: column;
  }
  .project-info > div + div {
    margin-left: 0;
  }
  .project-info .selectbox .selected {
    padding: 1.7rem 1.4rem;
    font-size: 1.6rem;
    line-height: 1.5rem;
  }
  .project-info .selectbox > ul {
    position: unset;
  }
  .client-info > li {
    margin-top: 0;
    width: 100%;
  }
  .client-info > li:nth-child(2n) {
    margin-left: 0;
  }
  .client-info {
    margin-bottom: 6rem;
  }
  .client-info input {
    padding: 1.8rem 1.4rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
  .file-area {    
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1rem;
  }
  .file-area .file-add {
    padding: 1.2rem 1.6rem;
    min-width: 1.3rem;
    font-size: 1.6rem;
    line-height: 1.5rem;
  }
  .file-list {
    margin-top: 1.5rem;
    margin-left: 0;
    padding-bottom: 1.3rem;
    gap: 1rem;
  }
  .file-list .file-name {
    font-size: 1.4rem;
    line-height: 1.5rem;
  }
  .file-list .file-delete img {
    width: 1.3rem;
    height: 1.3rem;
  }
  .file-desc {
    padding-left: 1.3rem;
    line-height: 2.2rem;
    background: url(../images/ico-file-desc.png) no-repeat left top / 1rem 1rem;
  }
  .location > address {
    font-size: 1.4rem;
    line-height: 2.2rem;
  }
}