@import url(https://fonts.googleapis.com/css?family=Electrolize);
.body2 {
  margin: 0;
  padding: 0;
  font-family: 'Electrolize';
  font-size: 2em;
  background: #111;
  
  /* background-color: hsla(0, 0%, 10%, 1); */
  color: hsla(0, 0%, 93%, 1);
  overflow: hidden;
}
.wrap {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.text {
  margin: 20% 0 0 0;
  text-align: center;
  font-size: 150px;
  animation: chromaticMove 4500ms ease infinite,pulse ease 200ms  infinite,scale 0.1s linear 4.5s;
  /* animation: glitch1 2.5s linear 4s infinite */
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  z-index: 10;
}
.text:hover {
  color:#00D67A;
  animation:none;
}
#anim > img {
  margin-right: 1rem;
  width: 100px;
  filter: drop-shadow(3px 2px 2px rgba(251, 12, 12,1));
  filter: drop-shadow(0px -1px 3px rgba(12, 79, 251,.5));
}
#anim > img:nth-child(3) {
  width: 0.93rem;
}
#anim > img:nth-child(8) {
  margin-right: 0;
  width: 7.2rem;
}

#anim.second > img {
  width: 100px;
  filter: drop-shadow(0px -1px 3px rgba(12, 79, 251,.5));
}
.p2 {
  position: absolute;
  top: 45%;
  left: 39%;
  margin: 0;
  font-size: 80px;
  color: #67f3da;
  opacity: 0;
  animation: glitch2 2.5s linear 4s infinite;
}

.p3 {
  position: absolute;
  top: 45%;
  left: 39%;
  transform: translate(-50%,-50%);
  margin: 0;
  opacity: 0;
  font-size: 80px;
  color: #f16f6f;
  animation: glitch3 2.5s linear 4s infinite ;
}


@keyframes pulse { 
    0%{ opacity:.9;transform: skewX(.5deg);}
    25%{ opacity:1;}
    50%{opacity:.9;}
    75%{ opacity:1; transform:skewX(.5deg);}
    100%{opacity:.9;}
}
@keyframes chromaticMove { 
  0%{text-shadow: 3px 2px 2px rgba(251, 12, 12,1), 0px -1px 3px rgba(12, 79, 251,.5),0px 0px -2px rgba(52, 251, 12, 1);}
  50%{text-shadow: 3px 2px 2px rgba(251, 12, 12,1), 0px -1px 3px rgba(12, 79, 251,.5),-3px 2px 3px rgba(52, 251, 12, 1);}
  100%{text-shadow: 3px 2px 2px rgba(251, 12, 12,1), 0px -1px 3px rgba(12, 79, 251,.5),2px -1px 2px rgba(52, 251, 12, 1);}
}

@keyframes glitch1 {
  0% {
    transform: none;
    opacity: 1;
  }
  7% {
    transform: skew(-0.5deg, -0.9deg);
    opacity: 0.75;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  27% {
    transform: none;
    opacity: 1;
  }
  30% {
    transform: skew(0.8deg, -0.1deg);
    opacity: 0.75;
  }
  35% {
    transform: none;
    opacity: 1;
  }
  52% {
    transform: none;
    opacity: 1;
  }
  55% {
    transform: skew(-1deg, 0.2deg);
    opacity: 0.75;
  }
  50% {
    transform: none;
    opacity: 1;
  }
  72% {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: skew(0.4deg, 1deg);
    opacity: 0.75;
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes glitch2 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(-2px, -3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(-5px, -2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(-5px, -1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(-2px, -6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}

@keyframes glitch3 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(2px, 3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(5px, 2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(5px, 1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(2px, 6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}

 :root {
	 --color-black: black;
	 --color-white: white;
	 --color-yellow: #00D67A;
	 --color-grey: #e8e8e8;
	 --time: 4s;
	 --time-s: 0.3s;
	 --vw: 60vw;
}
 @media (max-width: 768px) {
	 :root {
		 --size-height: 54px;
	}
}
 * {
	 box-sizing: border-box;
}
 a {
	 text-decoration: none;
	 color: white;
}
 html {
	 font-size: 1vw;
}
 @media (max-width: 768px) {
	 html {
		 font-size: 1.6vw;
	}
}
 
.body {
	 min-height: 100vh;
	 background-color: var(--color-grey);
	 color: #fff;
	 font-size: 3rem;
	 line-height: 1;
	 font-weight: 300;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 margin: 0;
}
 .container {
	 width: 100%;
	 margin: 0 auto;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 flex-wrap: wrap;
}
 .box {
	 cursor: pointer;
	 position: relative;
	 display: inline-block;
	 box-sizing: border-box;
	 width: 30vw;
	 padding-bottom: 30vw;
	 margin: 1vw;
	 background-color: #7f72d2;
	 background-color: var(--color-yellow);
	 text-transform: uppercase;
	 font-weight: 800;
	 overflow: hidden;
}
 @media (max-width: 768px) {
	 .box {
		 width: 46vw;
		 padding-bottom: 46vw;
	}
}
 .box:hover .box__btn {
	 background-color: var(--color-yellow);
	 color: var(--color-black);
}
 .box:hover .box__background {
	 animation-play-state: paused;
}
 .box__title {
	 transition: all var(--time-s);
	 transform: scale(1) translateY(0);
}
 .box__btn {
	 line-height: 4vw;
	 text-align: center;
	 max-width: 80%;
	 padding: 0 2vw;
	 font-size: 1.8rem;
	 margin-top: 1vw;
	 transition: all var(--time-s);
	 transform: scale(1);
	 background-color: var(--color-black);
	 color: var(--color-white);
	 border: 1px solid var(--color-black);
}
 .box__background {
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: auto;
}
 .box__content {
	 position: absolute;
	 top: 0;
	 left: 0;
	 right: 0;
	 bottom: 0;
	 padding: 2vw;
	 display: flex;
	 flex-wrap: wrap;
	 justify-content: space-between;
	 align-items: center;
	 align-content: center;
}
 .box__col {
	 width: 50%;
	 height: 100%;
	 display: flex;
	 flex-direction: column;
	 align-content: center;
	 align-items: center;
	 justify-content: center;
}
 .box__text-line {
	 position: absolute;
	 font-size: 1.5rem;
	 text-align: center;
	 left: 3vw;
	 right: 50%;
}
 .box__text-line--top {
	 top: 0;
}
 .box__text-line--bottom {
	 bottom: 0;
}
 .box__text-line span {
	 line-height: 3vw;
	 padding: 0 1.5vw;
	 background-color: var(--color-yellow);
}
 .box__text-svg {
	 transform-origin: 50% 50%;
	 animation: rotate normal infinite calc(var(--time-s) * 30) linear;
}
 .box__text-svg--reverse {
	 animation: rotateReverse normal infinite calc(var(--time-s) * 50) linear;
}
 .box--1, .box--4 {
  width: 100%;
  height: 100%;
}
 @media (max-width: 768px) {
	 .box--1, .box--4 {
		 width: 94vw;
		 padding-bottom: 46vw;
	}
}
 .box--1 {
	 background-color: var(--color-white);
	 color: var(--color-black);
}
 .box--1 .box__background {
	 outline: 3vw solid var(--color-yellow);
	 outline-offset: -3vw;
	 height: 100%;
}
 .box--1 .box__background:before {
	 content: "";
	 position: absolute;
	 border: 1px solid var(--color-black);
	 left: 1.5vw;
	 right: 1.5vw;
	 top: 1.5vw;
	 bottom: 1.5vw;
}
 .box--1 .box__content {
	 padding: 3vw;
}
 .box--1 .box__title {
	 text-align: center;
	 font-size: 5rem;
}
 .box--1 .box__title span {
	 display: block;
	 font-size: 4rem;
}
 .box--2 {
	 font-size: 1.5rem;
}
 .box--2 .box__background {
	 top: -50%;
	 left: -50%;
	 width: 200%;
	 height: auto;
	 font-size: 24px;
}
 .box--2 .box__content {
	 color: var(--color-black);
	 justify-content: center;
	 align-items: center;
	 align-content: center;
	 flex-direction: column;
}
 .box--2 .box__content span {
	 display: block;
	 font-size: 8rem;
}
 .box--3 .box__background {
	 top: -20%;
	 left: -20%;
	 width: 140%;
	 height: auto;
	 font-size: 30px;
}
 .box--3 .box__content {
	 font-size: 1.5rem;
	 color: var(--color-white);
	 justify-content: center;
	 align-items: center;
	 align-content: center;
	 flex-direction: column;
}
 .box--3 .box__content span {
	 display: block;
	 font-size: 6rem;
}
 .box--3 .box__btn {
	 background-color: var(--color-white);
	 color: var(--color-black);
}
 .box--4 {
	 background-color: var(--color-black);
	 text-shadow: -1px 0 0 var(--color-white), 0 -1px 0 var(--color-white), 1px 0 0 var(--color-white), 0 1px 0 var(--color-white);
	 color: #000;
}
 .box--4 span {
	 letter-spacing: 0.3vw;
	 animation: text var(--time) linear infinite running;
}
 .box--4 span:nth-child(2n+1) {
	 animation-delay: calc(var(--time) / 4);
}
 .box--4 span:nth-child(3n+2) {
	 animation-delay: calc(var(--time) / 2);
}
 .box--4:hover {
	 text-shadow: -1px 0 0 var(--color-grey), 0 -1px 0 var(--color-grey), 1px 0 0 var(--color-grey), 0 1px 0 var(--color-grey);
}
 .box--4:hover span {
	 animation: none;
}
 .box--4:hover .box__title {
	 z-index: 2;
	 opacity: 1;
	 text-shadow: -1px 0 0 var(--color-yellow), 0 -1px 0 var(--color-yellow), 1px 0 0 var(--color-yellow), 0 1px 0 var(--color-yellow);
	 transform: scale(1.6);
	 color: var(--color-yellow);
}
 .box--4:hover .box__title--top {
	 transform: scale(1.6) translateY(-1vw);
}
 .card {
	 position: relative;
	 font-size: 1.5rem;
	 color: var(--color-black);
	 border: 1px solid var(--color-black);
	 background-color: var(--color-grey);
	 margin: 3%;
	 height: 40%;
	 width: 88%;
	 display: flex;
	 flex-direction: column;
	 overflow: hidden;
}
 .card__top {
	 background-color: var(--color-black);
	 color: var(--color-white);
	 text-align: center;
	 line-height: 1.2;
}
 .card__title {
	 display: flex;
	 flex-direction: row;
	 align-items: center;
	 justify-content: center;
	 flex: 1;
	 transition: all var(--time-s);
}
 .card__title span {
	 padding-right: 4%;
	 font-size: 3rem;
}
 .card__btn {
	 position: absolute;
	 bottom: 0;
	 left: 0;
	 right: 0;
	 line-height: 1.2;
	 transition: all var(--time-s);
	 background-color: var(--color-yellow);
	 color: var(--color-black);
	 border-top: 1px solid var(--color-black);
	 text-align: center;
	 transform: translateY(100%);
}
 .card:hover .card__title {
	 transform: translateY(-1vw);
}
 .card:hover .card__btn {
	 transform: translateY(0);
}
 @keyframes text {
	 0%, 19% {
		 color: var(--color-white);
	}
	 20%, 100% {
		 color: var(--color-black);
	}
}
 @keyframes rotate {
	 to {
		 transform: rotate(360deg);
	}
}
 @keyframes rotateReverse {
	 to {
		 transform: rotate(-360deg);
	}
} 