@import url(https://fonts.googleapis.com/css?family=Electrolize);
.body2 {
  margin: 0;
  padding: 0;
  font-family: 'Electrolize';
  font-size: 2em;
  background: #111;
  
  /* background-color: hsla(0, 0%, 10%, 1); */
  color: hsla(0, 0%, 93%, 1);
  overflow: hidden;
}
.wrap {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: 0;    
  width: 100%;
  text-align: center;
  font-size: 150px;
  animation: chromaticMove 4500ms ease infinite,pulse ease 200ms infinite;
  /* animation: chromaticMove 4500ms ease infinite,pulse ease 200ms  infinite,scale 0.1s linear 4.5s; */
  /* animation: glitch1 2.5s linear 4s infinite */
  transition: all 0.1s ease-in-out;
  z-index: 10;
}

@keyframes screen-cover{
	0%{
		opacity: 0%;
	}
	100%{
		opacity: 1;
	}
}
@keyframes screen-cover2{
	0%{
		width: 80%;
		height: 0.2rem;
		opacity: 0.8;
	}
	100%{
		width: 0%;
		height: 0rem;
		opacity: 0;
	}
}
.scanlines-cover2{
	position: fixed;
	top:0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: #111;
	z-index: 400;
	opacity: 0;
	animation: screen-cover 0.2s linear 3s;
	animation-fill-mode: forwards;
}
.scanlines-cover2 p{
	position: absolute;
	top:50%;
	left: 50%;
	width: 80%;
	height: 0.2rem;
	transform: translate(-50%,-50%);
	background: #fff;
	animation: screen-cover2 0.2s linear 3.1s;
	animation-fill-mode: forwards;
	opacity: 0.8;
}
#anim > img {
  margin-right: 1rem;
  width: 100px;
}
#anim > img:nth-child(1) {
  margin-right: 0;
}
#anim > img:nth-child(3) {
  width: 20px;
}
#anim > img:nth-child(7) {
  width: 97px;
}
#anim > img:nth-child(8) {
  margin-right: 0;
  width: 135px;
}

@keyframes pulse { 
    0%{ opacity:.9}
    25%{ opacity:1;}
    50%{opacity:.9;}
    75%{ opacity:1;}
    /* 75%{ opacity:1; transform:skewX(.5deg);} */
    100%{opacity:.9;}
}
@keyframes chromaticMove { 
  0%{text-shadow: 3px 2px 2px rgba(251, 12, 12,1), 0px -1px 3px rgba(12, 79, 251,.5),0px 0px -2px rgba(52, 251, 12, 1);}
  50%{text-shadow: 3px 2px 2px rgba(251, 12, 12,1), 0px -1px 3px rgba(12, 79, 251,.5),-3px 2px 3px rgba(52, 251, 12, 1);}
  100%{text-shadow: 3px 2px 2px rgba(251, 12, 12,1), 0px -1px 3px rgba(12, 79, 251,.5),2px -1px 2px rgba(52, 251, 12, 1);}
}


@media (max-width:1000px) {
  #anim > img {
    width: 65px;
  }
  #anim > img:nth-child(3) {
    width: 13.1px;
  }
  #anim > img:nth-child(7) {
    width: 62px;
  }
  #anim > img:nth-child(8) {
    width: 84px;
  }
  .text {
    font-size: 97px;
  }
}

@media (max-width:765px) {
  #anim > img {
    margin-right: 0.5rem;
    width: 30px;
  }
  #anim > img:nth-child(3) {
    width: 6px;
  }
  #anim > img:nth-child(7) {
    width: 30px;
  }
  #anim > img:nth-child(8) {
    width: 42px;
  }
  .text {
    font-size: 45px;
  }
}
@media (max-width:350px) {
  #anim > img {
    width: 25px;
  }
  #anim > img:nth-child(3) {
    width: 5px;
  }
  #anim > img:nth-child(7) {
    width: 23px;
  }
  #anim > img:nth-child(8) {
    width: 33px;
  }
  .text {
    font-size: 38px;
  }
}