/* main css */
html{
    font-family: 'Gmarket Sans';
    font-size: 10px;
}
ol,ul{
    list-style: none;
}
.wrap{
    position: relative;
    overflow: hidden;
}
.wrap::after{
    display: inline-block;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    border:1rem solid #00D67A;
}
.innerframe-1700{
    max-width: 170rem;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
button{
    font-family: 'Gmarket Sans';
}

/* 메인-공통 */
h1{
    margin-top: 13.7rem;
    margin-bottom: 4rem;
    font-weight: 500;
    font-size: 5rem;
    line-height: 5rem;
    letter-spacing: -0.02em;
    text-transform: capitalize;
}
h2{
    font-weight: 500;
    font-size: 4rem;
    line-height: 4rem;
    letter-spacing: -0.02em;
}
.main-tit-undder{
    max-width: 46.7rem;
    font-weight: 400;
    font-size: 2rem;
    line-height: 3rem;
    letter-spacing: -0.02em;
}
header,.wrap>div{
    border-bottom: 0.1rem solid #777;
}

/* header */
header .innerframe-1700{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8.4rem;
}
header .main-logo{
    display: inline-block;
    height: 2.4rem;
}
header .main-logo img{
    height: 100%;
    object-fit: contain;
}
.menu-wrap{
    display: flex;
}
header ul{
    display: flex;
    margin-right: 6rem;
}
header ul li{
    display: flex;
    position: relative;
    margin-right: 5rem;
    transition: all 0.3s ease 0s;
    align-items: center;
}
header ul li:last-of-type{
    margin-right: 0;
}
header ul li a{
    font-size: 1.6rem;
    line-height: 1.6rem;
}
header ul li::after{
    display: inline-block;
    position:absolute;
    left:0;
    bottom:0.2rem;
    width: 0%;
    height: 0.1rem;
    background: #fff;
    transition: all 0.3s ease 0s;
    content: "";
}
header ul li:hover{
    color:#00D67A;
}
header ul li:hover::after{
    width: 100%;
    background: #00D67A;
}
.menu-wrap button{
    width: 3.5rem;
    height: 2.4rem;
    background: url(../images/btn-menu.png) no-repeat 0 0 /contain;
}

/* 비쥬얼 */
@keyframes vi-under-btn{
    0%{
        bottom: 8.3rem;
    }
    50%{
        bottom: 9.3rem;
    }
    100%{
        bottom: 8.3rem;
    }
}
.visual{
    position: relative;
    height: 99.6rem;
}
.web-box{
    position: absolute;
    top:50%;
    left:50%;
    max-width: 93.8rem;
    min-height: 40.3rem;
    width: 100%;
    transform: translate(-50%,-50%);
    z-index: 2;
}
.web-box::after{
    position: absolute;
    top:1.7rem;
    left:1.2rem;
    width: 100%;
    height: 100%;
    background: #777;
    border: 1px solid #00D67A;
    content: "";
}
.web-box-tit{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between ;
    height: 6.6rem;
    padding: 0 3.5rem;
    font-weight: 500;
    font-size: 2.2rem;
    line-height: 2.2rem;
    letter-spacing: -0.02em;
    color: #00D67A;
    border: 0.1rem solid #00D67A;
    background: #111;
    z-index: 2;
}
.web-box-tit .deco{
    display: flex;
}
.web-box-tit .deco div{
    width: 1.9rem;
    height: 1.9rem;
    margin-right: 1.6rem;
    border: 0.2rem solid #00D67A;
    border-radius: 50%;
}
.web-box-tit .deco div:last-of-type{
    border-color: #fff;
    margin-right: 0;
}
.web-box-con{
    position: relative;
    min-height: 33.7rem;
    padding:7.7rem 6.8rem;
    background: #111;
    z-index: 2;
    border: 0.1rem solid #00D67A;
    border-top:none;
}
.web-box-con P{
    margin-bottom: 3rem;
    font-weight: 400;
    font-size: 2.3rem;
    line-height: 3.3rem;
    letter-spacing: -0.02em;
}
.web-box-con button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 23rem;
    width: 100%;
    padding: 1.6rem 3.1rem;
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 1.7rem;
    letter-spacing: -0.02em;
    text-align: left;
    color:#fff;
    border: 0.1rem solid #FFFFFF;
    border-radius: 1rem;
    transition: all 0.3s ease 0s;
}
.web-box-con button img{
    width: 3.5rem;
    object-fit: contain;
    transition: all 0.3s ease 0s;
}
.web-box-con button:hover{
    color:#00D67A;
    border-color: #00D67A;
}
.web-box-con button:hover img{
    filter: invert(50%) sepia(93%) saturate(1015%) hue-rotate(113deg) brightness(101%) contrast(102%);
}
.btn-vi-under{
    position: absolute;
    left: 50%;
    bottom: 8.3rem;
    width: 6rem;
    height: 9rem;
    transform: translateX(-50%);
}
.btn-vi-under:hover{
    animation: vi-under-btn 1.2s linear infinite
}
@keyframes visual-txt-img{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-50%);
    }
}
@keyframes visual-txt-img2{
    0%{
        transform: translateY(-50%) translateX(-100%);
    }
    100%{
        transform: translateY(-50%) translateX(0%);
    }
}
/* 아래로 버튼 */
.btn-vi-under img{
    width: 100%;
    object-fit: contain;
}
/* 비쥬얼 배경 */
.visu-txtimg-box img{
    height: 100%;
    object-fit: contain;
}
.img-visu01{
    display: flex;
    position: absolute;
    top:13rem;
    height: 7.3rem;
    animation: visual-txt-img 10s linear infinite;
}
.img-visu02{
    display: flex;
    position: absolute;
    top:50%;
    right: 0;
    transform: translateY(-50%);
    animation: visual-txt-img2 19s linear infinite;
}
.img-visu02 img{
    width: 290rem;
    max-width: 150%;
}
.img-visu02 p{
    height: 11.1rem;
}
.img-visu03{
    display: flex;
    position: absolute;
    top:unset;
    bottom:15.4rem
}

/* works */
@keyframes works-txt{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.works{
    padding-bottom: 13.6rem;
}
.works-slide-wrap{
    position: relative;
    margin-top: 9rem;
}
.works-slide-wrap li{
    position: relative;
    width: 50rem;
    height: 58rem;
}
.works-slide-wrap li img{
    width: 100%;
    object-fit: cover;
}
.works-slide-wrap .txt-box{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    padding: 5rem 4rem;
    background-color: rgb(0,0,0,0.6);
    border: 0.1rem solid #F5F5F5;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease 0s;
}
.works-slide-wrap li:hover .txt-box{
    opacity: 1;
    pointer-events: auto;
}
.works-slide-wrap h3{
    margin-bottom: 2rem;
    font-weight: 500;
    font-size: 4rem;
    line-height: 4.5rem;
    letter-spacing: -0.02em;
}
.works-slide-wrap a{
    position: relative;
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 1.7rem;
    letter-spacing: -0.02em;
}
.works-slide-wrap a::after{
    display: inline-block;
    position: absolute;
    left:0;
    bottom: -0.5rem;
    width: 0%;
    height: 0.1rem;
    border-bottom: 1px solid #00D67A;
    transition: all 0.3s ease 0.2s;
    content: "";
}
.works-slide-wrap li:hover a::after{
    width: 100%;
}
.works div.work-pagination{
    position: relative!important;
    margin-top: 5rem;
    height: 0.2rem;
    background: #777;
}
.works div.work-pagination span{
    background: #00D67A;
}
.work-next{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:50%;
    right: 2rem;
    width: 14.8rem;
    height: 14.8rem;
    transform: translateY(-50%);
    border-radius: 50%;
    background:rgba(0, 214, 122, 0.7);
    z-index: 2;
}
.work-next::after{
    display: inline-block;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    border-radius: 50%;
    background: url(../images/img-works-txt.png) no-repeat 50% 50% / 100%;
    content: "";
    animation: works-txt 8s linear infinite;
}
.work-next img{
    height: 1.8rem;
    object-fit: contain;
}
/* o-serv */
.o-serv .innerframe-1700{
    display: flex;
}
.main-con-l{
    width: 59.5rem;
}
.main-con-r{
    position: relative;
    flex:1;
    border-left: 0.1rem solid #777;;
}
.o-serv .main-con-r{
    display: flex;
    justify-content: flex-end;
}
.o-serv-box{
    display: flex;
    flex-wrap: wrap;
    max-width: 100rem;
    padding: 7rem 0;
}
.o-serv-box div{
    position: relative;
    width: calc(50% - 2rem);
    height: 40rem;
    margin-right: 4rem;
    padding: 5rem 4rem;
    background: rgba(85, 85, 85, 0.3);
    border: 0.1rem solid  rgba(85, 85, 85, 0.3);
    transition: all 0.3s ease 0s;
}
.o-serv-box div:first-of-type{
    margin-bottom: 4rem;
}
.o-serv-box div:nth-of-type(2n){
    margin-right: 0;
}
.o-serv-box a{
    display: inline-block;
    position: absolute;
    right: 4.4rem;
    bottom: 5.5rem;
    width: 5rem;
    height: 5rem;
    opacity: 1;
    transition: all 0.3s ease 0s;
}
.o-serv-box a img{
    object-fit: contain;
}
.o-serv-box p{
    margin-top: 6rem;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 3rem;
    letter-spacing: -0.02em;
    opacity: 0;
    transition: all 0.3s ease 0s;
}
.o-serv-box div:hover{
    border: 0.1rem solid #00D67A;
}
.o-serv-box div:hover a{
    opacity: 0;
    pointer-events: none;
}
.o-serv-box div:hover p{
    opacity: 1;
}

/* add-wrap */
@keyframes email-txt {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
  }
.add-wrap{
    align-items: center;
    height: 10rem;
    overflow: hidden;
}
.add-wrap p{
    display: flex;
    white-space: nowrap;
    align-items: center;
    height: 100%;
    animation: email-txt 20s linear infinite;
}
.add-wrap span{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24rem;
    height: 6rem;
    margin-left: 4rem;
    margin-right: 2.2rem;
    padding: 0 1.2rem;
    padding-top: 1rem;
    background: #fff;
    font-weight: 400;
    font-size: 4.5rem;
    line-height: 4.5rem;
    letter-spacing: -0.02em;
    color: #111;;
}
.add-wrap a{
    margin-right: 1rem;
    font-weight: 400;
    font-size: 4.5rem;
    line-height: 4.5rem;
}

/* contact-us */
.contact-us{
    height: 58.9rem;
}
.contact-us .innerframe-1700{
    display: flex;
}
.contact-us .web-box{
    max-width: 76rem;
}

/* footer */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4.4rem 0;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.6rem;
}
footer ul{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.6rem;
}
footer li{
    position: relative;
    margin-right: 3rem;
}
footer li:after{
    display: inline-block;
    position: absolute;
    top:50%;
    right: -1.5rem;
    width: 0.1rem;
    height: 1.3rem;
    transform: translateY(-50%);
    background: #fff;
    content: "";
}
footer li:last-of-type{
    margin-right: 0;
}
footer li:last-of-type::after{
    display: none;
}
footer p{
    text-align: center;
}
.btn-top{
    position: fixed;
    bottom:10rem;
    right: 11rem;
    width: 6.2rem;
    height: 9.2rem;
    background: url(../images/img-main-top.png) no-repeat 0 0 /contain;
    z-index: 4;
}
/* 옆 메뉴 */
@keyframes main-bg-animation {
    0% {
      background-position: 1% 0%;
    }
    50% {
      background-position: 99% 100%;
    }
    100% {
      background-position: 1% 0%;
    }
}
.side-menu{
    display: none;
    position: fixed;
    top:0;
    right:0;
    width: 100%;
    height: 100vh;
    background: rgba(17, 17, 17, 0.8);
    z-index: 100;
}
.side-menu ul{
    position: absolute;
    top:0;
    right:0;
    width: 50rem;
    height: 100%;
    padding: 9.8rem 5rem;
    background-image: linear-gradient(315deg, #216749, #000000, #216749) !important;
    background-size: 600% 600% !important;
    animation: main-bg-animation 12s ease infinite !important;
}
.side-menu ul:after{
    display: inline-block;
    position: absolute;
    right:0;
    bottom:3.8rem;
    width: 10rem;
    height: calc(100% - 13.1rem);
    background: url(../images/bg-sidemenu.png) no-repeat 100% 100% / contain;
    content: "";
}
.side-menu li{
    margin-bottom: 5rem;
    font-weight: 500;
    font-size: 4rem;
    line-height: 4rem;
    transition: all .3s ease 0s;
}
.side-menu li:last-of-type{
    margin-bottom: 0;
}
.side-menu li:hover{
    color:#00D67A
}
.side-menu a{
    display: inline-block;
    position: relative;
}
.side-menu a::after{
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: -0.2rem;
    width: 0%;
    height: 0.2rem;
    background: #fff;
    transition: all 0.3s ease 0s;
    content: "";
}
.side-menu li:hover a::after{
    width: 100%;
    background: #00D67A;
}
.side-menu button{
    position: absolute;
    top:3rem;
    right:5rem;
    width: 2.4rem;
    height: 2.4rem;
}
.side-menu button img{
    width: 100%;
    object-fit: contain;
}